<div class="p-3 form-case">
  <form [formGroup]="caseForm" (ngSubmit)="onSubmit()" class="employee-form">
    <div class="form-group">
      <label for="username" class="form-label require">Mã hoặc tên vụ án</label>
      <div class="form-input">
        <input
          id="username"
          pInputText
          formControlName="username"
          [class.invalid]="isFieldInvalid('username')"
        />
        @if(isFieldInvalid('username')) {
        <div>
          <small class="p-error">Mã cán bộ là bắt buộc</small>
        </div>
        }
      </div>
    </div>

    <div class="form-group">
      <label for="fullName" class="form-label require"
        >Lãnh đaọ phụ trách vụ án</label
      >
      <div class="form-input">
        <input
          id="fullName"
          pInputText
          formControlName="fullName"
          [class.invalid]="isFieldInvalid('fullName')"
        />
        @if(isFieldInvalid('fullName')) {
        <div>
          <small class="p-error">Họ và tên là bắt buộc</small>
        </div>
        }
      </div>
    </div>

    <div class="form-group">
      <label for="avatar" class="form-label">Kiểm sát viên</label>
      <div class="form-input">
        <p-dropdown
          [options]="listProsecutor"
          [optionValue]="'value'"
          [optionLabel]="'key'"
          [class.invalid]="isFieldInvalid('prosecutor')"
        ></p-dropdown>
      </div>
    </div>

    @if(!!imageForUpload || !!caseForm.controls['avatar'].value) {
    <div class="form-group">
      <label class="form-label">&nbsp;</label>
      <div class="form-input">
        <div class="relative w-fit">
          @if(!!imageForUpload) {
          <div class="flex flex-wrap p-0">
            <img
              role="presentation"
              class="border-round-3xl"
              [alt]="imageForUpload.name"
              [src]="imageForUpload.objectURL"
              width="300"
              height="400"
            />
          </div>
          } @else if (caseForm.controls['avatar'].value) {
          <div class="flex flex-wrap p-0">
            <img
              role="presentation"
              alt="avatar"
              class="border-round-3xl"
              [src]="caseForm.controls['avatar']"
              width="300"
              height="400"
            />
          </div>
          }
          <p-button
            icon="pi pi-times"
            severity="danger"
            class="absolute"
            [rounded]="true"
            [raised]="true"
            [ngStyle]="{ right: '5px', top: '5px' }"
            (onClick)="onRemoveAvatar()"
          />
        </div>
      </div>
    </div>
    }

    <div class="form-group">
      <label for="departmentName" class="form-label require">Phòng ban</label>
      <div class="form-input">
        <p-dropdown
          id="departmentName"
          formControlName="departmentName"
          [options]="listDepartments"
          [optionValue]="'value'"
          [optionLabel]="'label'"
          [class.invalid]="isFieldInvalid('departmentName')"
        ></p-dropdown>
        @if(isFieldInvalid('departmentName')) {
        <div>
          <small class="p-error">Phòng ban là bắt buộc</small>
        </div>
        }
      </div>
    </div>

    <div class="form-group">
      <label for="status" class="form-label require">Trạng Thái</label>
      <div class="form-input">
        <input
          id="status"
          pInputText
          formControlName="status"
          [class.invalid]="isFieldInvalid('status')"
        />
        @if(isFieldInvalid('status')) {
        <div>
          <small class="p-error">Trạng thái là bắt buộc</small>
        </div>
        } @if(isStatusInvalid('status')) {
        <div>
          <small class="p-error">Trạng thái là bắt buộc</small>
        </div>
        } 
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="form-label">Ngày cập nhật mới nhất</label>
      <div class="form-input">
        <p-password
          id="password"
          formControlName="password"
          [style]="{ width: '100%' }"
        >
        </p-password>
      </div>
    </div>
    <div class="flex justify-content-end">
      <button
        pRipple
        pButton
        severity="secondary"
        type="button"
        label="Huỷ"
        class="outline-none bg-none text-color mr-2"
        (click)="onCloseModal()"
      ></button>
      <button pRipple pButton type="submit" label="Tạo"></button>
    </div>
  </form>
</div>
