<div class="p-3 form-account">
  <form [formGroup]="caseForm" (ngSubmit)="onSubmit()" class="employee-form">
    <div class="form-group">
      <label for="code" class="form-label require">Mã vụ án</label>
      <div class="form-input">
        <input
          id="code"
          pInputText
          formControlName="code"
          [class.invalid]="isFieldInvalid('code')"
        />
        @if(isFieldInvalid('code')) {
        <div>
          <small class="p-error">Tên là bắt buộc</small>
        </div>
        }
      </div>
    </div>

    <div class="form-group">
      <label for="name" class="form-label require">Tên vụ án</label>
      <div class="form-input">
        <input
          id="name"
          pInputText
          formControlName="name"
          [class.invalid]="isFieldInvalid('name')"
        />
        @if(isFieldInvalid('name')) {
        <div>
          <small class="p-error">Tên là bắt buộc</small>
        </div>
        }
      </div>
    </div>

    <div class="form-group">
      <label for="departmentName" class="form-label require">Phòng ban</label>
      <div class="form-input">
        <p-dropdown
          id="departmentName"
          formControlName="departmentName"
          [options]="listDepartments"
          [optionValue]="'value'"
          [optionLabel]="'label'"
          [class.invalid]="isFieldInvalid('departmentName')"
        ></p-dropdown>
        @if(isFieldInvalid('departmentName')) {
        <div>
          <small class="p-error">Phòng ban là bắt buộc</small>
        </div>
        }
      </div>
    </div>

    <div class="form-group">
      <label for="statusName" class="form-label require">Trạng Thái</label>
      <div class="form-input">
        <p-dropdown
          id="statusName"
          formControlName="statusName"
          [options]="listStatus"
          [optionValue]="'value'"
          [optionLabel]="'label'"
          [class.invalid]="isFieldInvalid('statusName')"
        ></p-dropdown>
        @if(isFieldInvalid('statusName')) {
        <div>
          <small class="p-error">Trạng thái là bắt buộc</small>
        </div>
        }
      </div>
    </div>

    <div class="form-group">
      <label for="updateAt" class="form-label require">Đến ngày</label>
      <div class="form-input">
        <p-calendar
          [dateFormat]="'dd/mm/yy'"
          [iconDisplay]="'input'"
          [showIcon]="true"
          [selectionMode]="'single'"
          formControlName="updateAt"
          styleClass="w-full"
        >
        </p-calendar>
      </div>
    </div>

    <div class="flex justify-content-end">
      <button
        pRipple
        pButton
        severity="secondary"
        type="button"
        label="Huỷ"
        class="outline-none bg-none text-color mr-2"
        (click)="onCloseModal()"
      ></button>
      <button pRipple pButton type="submit" label="Tạo"></button>
    </div>
  </form>
</div>
